<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @business.user %>
</p>

<p>
  <strong>Url:</strong>
  <%= @business.url %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business.phone %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
